
/* -----------------------------
	Structural Pseudo-classes
-------------------------------- */

li:nth-last-child(3n+1) {
	color: #FFF;
	background-color: #000;
}

div:nth-last-of-type(1){
	background-color: blue;
}

p:only-of-type {
	color: blue;
}