.box{
	width:500px;
	height:400px;

	border: 40px solid #70979A;
	border-image-source: url("Screen Shot 2013-06-13 at 12.08.39 PM.png");
	border-image-slice: 55 fill;
	border-image-width: 1;
	border-image-repeat: round;
	/*border-image-outset: 1;*/
}